# # https://vercel.com/docs/storage/vercel-postgres
# POSTGRES_URL=

# NEXTAUTH_URL=http://localhost:3000
# AUTH_SECRET= # https://generate-secret.vercel.app/32

# # https://authjs.dev/getting-started/providers/github
# AUTH_GITHUB_ID=
# AUTH_GITHUB_SECRET=

POSTGRES_URL=postgresql://neondb_owner:npg_pa1Xsf5xgLlN@ep-lively-shadow-a8ho9fft-pooler.eastus2.azure.neon.tech/neondb?sslmode=require

NEXTAUTH_URL=http://localhost:3000
AUTH_SECRET=eddbeafe2a5867c75c7911403c3c4a04